rules:
  - Wwwision\Tmp\TypedClassesMustNotBeConstructedRule
  - Wwwision\Tmp\TypedClassesMustHavePrivateConstructorRule
  - Wwwision\Tmp\TypedClassesMustBeFinalRule
  - Wwwision\Tmp\TypedClassesMustBeReadonlyRule