rules:
  - Wwwision\TypesPhpStan\TypedClassesMustNotBeConstructedRule
  - Wwwision\TypesPhpStan\TypedClassesMustHavePrivateConstructorRule
  - Wwwision\TypesPhpStan\TypedClassesMustBeFinalRule
  - Wwwision\TypesPhpStan\TypedClassesMustBeReadonlyRule